doctype html
html(lang='en')
    head
        meta(http-equiv="Content-Security-Policy", content="default-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com; script-src 'self' https://ajax.googleapis.com; connect-src 'self'; child-src 'none'; img-src 'self'; style-src 'self' https://fonts.gstatic.com https://fonts.googleapis.com; font-src https://fonts.gstatic.com https://fonts.googleapis.com; object-src 'none'")
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        meta(http-equiv="X-UA-Compatable" content="IE=edge")
        meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0")
        meta(name="description", content="Welcome to AnoPro")
        meta(name="keywords", content="")

        title AnoPro

        // main stylesheets
        link(rel="stylesheet", type="text/css", href="./css/lb.css")   
   
        // jquery.js
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")

        // facebook og                                                                          
        meta(property="og:title", content="Anopro")
        meta(property="og:site_name", content="anopro.ludwigboltzmann.com")
        meta(property="og:url", content="http://anopro.ludwigboltzmann.com")
        meta(property="og:image", content="https://s3.us-east-2.amazonaws.com/anopro.ludwigboltzmann.com/images/wings.png")
        meta(property="og:description", content="Anonymous Profits | Group")
          
        // twitter og   
        meta(property="twitter:site", content="anopro.ludwigboltzmann.com")
        meta(property="twitter:card" content="Anonymous Profits | Group")
        meta(property="twitter:title" content="Anopro")


    body


        header
            .title
                p AnoPro
            .logo
                img(src="./images/wings.png")

        main
            .wrapper
                #description-box
                    .top
                        p Welcome to AnoPro. 

                        p The purpose of this test is to calculate your overall confidence level in predictions. There are three tier levels. Underconfident, confident, and overconfident. In this case study, confidence is calculated by the distance from the correct prediction. The higher your predictions are from the truth, the higher your confidence level. Conversely, if your predictions are much lower, your confidence level is lower. 

                        p Why is this important in trading? 

                        p Depending on a meber's confidence level, their predictions will correlate to their confidence tier. An overly confident person may naturally expect the price of a coin to rise significantly higher than it actually will. 
                        p Overview

                        p There are 25 questions. You only need to roughly predict the correct answer. E.g. 35-45 or 11,000-14,000. If the answer falls within your range, your prediction is correct. View the answer after guessing so you can adjust your assumptions in real time. You do not have to share it with anyone. This is only a practice test for you to adjust your general predictions. 

                #start-test


                    ol
                        li What was the age of John F. Kennedy when he was assisinated?
                            p(id="a") View Answer

                        li What is the population of Denver Colorado?
                            p(id='b') View Answer

                        li What percentage of people live in cities?
                            p(id='c') View Answer
                        li How tall is Mt. Everest?
                            p(id='d') View Answer
                        li How tall is the average person?
                            p(id='e') View Answer
                        li What is the height of the empire state building?
                            p(id='f') View Answer
                        li What is the population of India?
                            p(id='g') View Answer
                        li How deep is the Mariana Trench?(also the deepes part of the ocean)
                            p(id='h') View Answer
                        li Waht is the coldest temperature ever recorded?
                            p(id='i') View Answer
                        li How many words does the english language have?
                            p(id='j') View Answer
                        li How many countries are there in the world?
                            p(id='k') View Answer
                        li What is Bill Gates net worth?
                            p(id='l') View Answer
                        li How long is the average movie?
                            p(id='m') View Answer
                        li What is the average GPA in the U.S.?
                            p(id='n') View Answer
                        li How many sick days does the average person take from their job in the U.S.?
                            p(id='o') View Answer
                        li What is the average GDP per capita in the U.S.? (E.g. averge debt per individual)
                            p(id='p') View Answer
                        li How long does the average person live?
                            p(id='q') View Answer
                        li How long does the average person use Facebook?
                            p(id='r') View Answer
                        li How many months does the average person wait at red lights?
                            p(id='s') View Answer
                        li What is the average U.S. income?
                            p(id='t') View Answer
                        li What is the average life span of a housefly? (days)
                            p(id='u') View Answer
                        li How many feet of rain does the Amazon Rainforest receive a year on average?
                            p(id='v') View Answer
                        li What is the divorce rate in the U.S.?
                            p(id='w') View Answer
                        li How many miles an hour can a cheetah run?
                            p(id='x') View Answer
                        li How many strands of hair does the average person have?
                            p(id='y') View Answer




    


            footer 
                div
                    p How do you think you did? This skill is great to have and even though not everyone's predictions are great, like all things - you can better your ability by practicing. 




    script(type="text/javascript", src="./js/lb.js")



